<div class="hero">
	<div class="frosty col-10 offset-1 text-center">
		<br /><br /><br />
		<h1>training, simplified</h1>
		<p>Please Sigin to get started, or click below to learn more.</p>
		<br /><br /><br />
	</div>
</div>